<div id="sidebar">
  <ul class="nav pull-right">
    <% if user_signed_in? %>
        <li>
            Signed in as : <%= link_to current_user.name, edit_user_registration_path %>
        </li>
        <li><%= button_to "Logout", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li>
        <table>
          <tr>
            <th>
              <td>
                <%= button_to "Sign in", new_user_session_path, :method => :get %>
              </td>
              <td>
                 <%= button_to "Sign up", new_user_registration_path, :method => :get %>
              </td>
            </th>
          </tr>
        </table>
      </li>
    <% end %>
  </ul>
  <ul>
    <li>
        <div id="search">
          <%= search_form_for @q do |f| %>
          <%= f.text_field :title_or_body_cont %>
          <br />
          <%= f.submit "Search" %>
          <% end %>
        </div>
        <div style="clear: both;">&nbsp;</div>
       </li>
       <li>
        <h2>Categories</h2>
        <ul>
          <% all_categories.each do |cat| %>
            <li><%= link_to cat.name, category_path(:id => cat.id) %></li>
          <% end %>
        </ul>
       </li>
       <li>
        <h2>Popular Tags</h2>
        <ul>
          <% popular_tags.each do |tag| %>
            <li><%= link_to tag.name, tagged_url(:tag => tag.name) %></li>
          <% end %>
        </ul>
       </li>
       <li>
        <h2>Recent Posts</h2>
        <ul>
         <% recent_posts.each do |post| %>
            <li><%= link_to post.title, post_path(:id => post.id) %></li>
          <% end %>
        </ul>
       </li>

      </ul>
     </div>
     <!-- end #sidebar -->