<% @posts.each do |post| %>
<div class="post">
	<h2 class="title"><%= link_to post.title, post %></h2>

	<div class = "tag">
	  <% if post.tags.any? %>
	    <% post.tags.each do |tag| %>
	      <% if Category.find_by_name(tag.name) %>
          	<%= link_to "#"+tag.name, tagged_url(:tag => tag.name) %>
	      <% else  %>
	        <% if User.find_by_name(tag.name) %>
	          <%= link_to "@"+tag.name, tagged_url(:tag => tag.name) %>
	        <% else %>
	          <%= link_to tag.name, tagged_url(:tag => tag.name) %>
	        <% end %>
	      <% end %>
	    <% end %>
	  <% end %>
	</div>

	<div class="entry"><%= post.body %></div>
	<div class="byline">
        <p class="meta"><%= post.created_at.strftime("%b %d %Y") %><!-- Posted by <%= post.user.name %>--></p>
        <p class="links"><%= link_to "Read More", post %>
        <% if user_signed_in? %>
         | <%= link_to "Comment", post %></p>
         <% end %>
    </div>
</div>
<br>
<% end %>