<div class="post">
<h1><%= @post.title %></h1>
<br />
<small><%= @post.created_at.strftime("%b %d %Y") %></small>

<div class = "tag">
  <% if @post.tags.any? %>
    <% @post.tags.each do |tag| %>
      <% if Category.find_by_name(tag.name) %>
        <%= link_to "#"+tag.name, tagged_url(:tag => tag.name) %>
      <% else  %>
        <% if User.find_by_name(tag.name) %>
          <%= link_to "@"+tag.name, tagged_url(:tag => tag.name) %>
        <% else %>
          <%= link_to tag.name, tagged_url(:tag => tag.name) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<!--<p style="color: grey;">Posted By : <%= @post.user.name %></p>-->
<p><%= @post.body %></p>
<p style="color: grey;">Tag : <%= link_to @post.category.name, category_path(:id => @post.category.id) %></p>
<p><%= link_to "Back", posts_path %>
<% if @post.user == current_user %> 
| <%= link_to "Edit Post", edit_post_path %> | <%= link_to "Delete", @post, :confirm => "Are you sure you want to delete?", :method => :delete %> 
<% end %>
</p>
<p>
  <%= @post.post_comments.count %> comment(s)
</p>
<% if user_signed_in? %>
  <h3>Add a Comment</h3>
  <br />
  <%= form_for @post_comment do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.hidden_field :user_id %>
    <p>
      <%= f.text_field :body %>
    </p>
    <br />
    <p>
      <%= f.submit "Post Comment" %>
    </p>
    <br />
  <% end %>
<% end %>
<%= render :partial => 'partials/comment', :collection => @post.post_comments %>
</div>